.feynman__link {
  /* text-decoration: none; */
  color: #2f80ed;
  display: block;
  width: auto;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link::after {
  content: " →";
}
